---
import Layout from '@/layouts/_layout.astro';
---

<Layout title='Projects'>
  <div class='w-full h-max flex flex-col items-center gap-y-10 md:h-uiMinHeight'>
    <div class='w-full h-max rounded-uiRounded py-7 px-7 border-2 border-uiNeutral grid grid-cols-1 gap-x-5 md:grid-cols- md:w-10/12 gap-4'>
      <div class='w-full h-[350px] bg-lime-300 rounded-[22px]'></div>
      <div class='w-full space-y-3'>
        <p>
          Welcome to my portfolio, where I showcase my expertise and projects as a Web 3 developer specializing in the TON blockchain. With a
          commitment to building robust, decentralized applications (DApps) and Telegram Mini Apps, I strive to leverage the TON ecosystem to its
          full potential. Here, you’ll find detailed insights into the tools, frameworks, and methodologies that drive my work, from wallet
          integrations to custom DApp functionalities.
        </p>

        <p>
          This portfolio reflects my dedication to combining technical precision with innovative solutions, allowing users to experience
          seamless, secure interactions within the blockchain environment. Whether it’s about advanced smart contract deployments, secure wallet
          management, or developing user-centric applications, each project embodies my focus on pushing the boundaries of decentralized
          technology. Feel free to explore and reach out if you'd like to discuss potential collaborations or further insights into my work.
        </p>
      </div>
    </div>
  </div>
</Layout>
